


  <nav class="navbar navbar-default">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
       <button class="btn navbar-btn active"><a class="nav-link active" routerLink="/symptoms-component" routerLinkActive="active">Symptoms</a></button>
      <button class="btn navbar-btn active"><a class="nav-link active" routerLink="/treatment-component" routerLinkActive="active">Prevention</a></button>
      <button><a class="nav-link active" routerLink="/prevention-component" routerLinkActive="active">Treatment</a></button>
    </ul>
   </div>
  </nav>


<router-outlet></router-outlet>

