<h1>Covid 19 in India</h1>

<nav>
<ul class="nav flex-column">
  <li class="nav-item" id="home">
    <a class="nav-link active" routerLink="/home-component" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item" id="info">
    <a class="nav-link" routerLink="/info-component" routerLinkActive="active">Covid 19 Info </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/stats-component" routerLinkActive="active">statistics</a>
  </li>
  
</ul>
</nav>
<router-outlet></router-outlet>